*{
    font-family: 'Poppins', sans-serif;
color: #002765;

}
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background: linear-gradient(135deg, #153677, #4e085f);
    min-height: 100vh;
    width: 100%;
}

nav::before {
   
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#home-container,
#quiz-form,
#result-container {

    box-shadow: 2px 2px 10px black;
    opacity: 0.95;
}



#home-container {
    /* border: 2px solid black; */
    border-radius: 20px;
    padding: 3%;
    font: 1em sans-serif;
    display: inline-block;
    width: 30vw;
    margin: 25vh auto;
    background-color: #fff;

}
input[type="text"] {
    border: 0;
    background: transparent;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    color: rgb(0, 0, 0);
    padding: 7px;
}




select {
    width: 100%;
    padding: 7px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;

}

#quiz-container {
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width:480px) {
    #home-container {
        padding: 5%;
        font: 1.1em sans-serif;
        width: 80vw;
        margin: 10vh auto;
    }

}

#setup {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

input[type="checkbox"] {
    display: none;
}

.catagory {
    margin: 5px 0px;
    display: none;
    flex-direction: column;
    gap: 0.5em;
}

input[type="checkbox"]:checked+label {
    
    background-color: #8db3ff;
}

.catagory label {
    padding: 5px;
    border: 1px solid black;
}

.submit-btn {

    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}





.submit-btn1 {
    border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

/* Quizz Styling */

#quiz-form {
    width: 60%;
    overflow: hidden;
    margin: 5% auto;
    margin-bottom: 4%;
    background-color: #fff;
    border-radius: 2rem;
}


@media screen and (min-width:480px) {
    .submit-btn {
        margin: 0% 37.5%;
        width: 25%;
        cursor: pointer;
    }

    .submit-btn1 {
        width: 50%;
        margin: 10px auto;
    }
}


#question-container {
    /* border: 1px solid black; */
    list-style: none;
    padding: 0%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
}

.oneque {
    /* border: 1px solid rgb(44, 61, 139); */
    padding: 8%;
    display: flex;
    margin: 3%;
    flex-direction: column;
    border-radius: 1rem;
    gap: 10px;
    align-items: center;
    background-size: cover;
}

input[type="radio"] {
    display: none;
}


input[type="radio"]:checked+label {
    color: rgb(0, 0, 0);
    background-color: #8db3ff;
    
}
h2{
    color: #002765;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
h2 img{
    width: 30px;
    margin-left: 10px;
  }
  
.optcont {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 0.5rem;
    width: 100%;
}

.quiz-label {
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    padding: 20px;

}

@media screen and (max-width:480px) {
    #quiz-form {
        width: 80%;
        overflow: hidden;
        margin: 10% auto;
        margin-bottom: 4%;
        font-size: 0.7em;
    }

    .oneque {
        padding: 15% 10%;

    }

    .quiz-label {
        padding: 5px;
    }

    .oneque h3 {
        font-size: 1.3em;
    }
}



#result-container {
    width: 80%;

    margin: 10% auto;
    padding: 3%;
    background-color: #fff;

    border-radius: 15px;
}

#result-container ul {
    list-style-type: none;
    padding: 0%;
    /* border: 1px solid green; */
}

#result-container ul li {
    /* border: 1px solid blue; */
    width: 90%;
    margin: 5% 3%;
    background-color: #ecf3ff;
    padding: 2%;
    border-radius: 15px;

}

#answersct {
    border-radius: 20px;
}

.questiondisplay {
    margin-bottom: 20px;
}

.questiondisplay h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.optcont {
    display: grid;
    /* gap: 2%; */

}